<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 21:52:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VideoExecution.setup()[pri:0, instance:com.framework.video.VideoExecution@167fdd33]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 21:52:57</td>   <td>5871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VideoExecution.testVideo()[pri:0, instance:com.framework.video.VideoExecution@167fdd33]">testVideo</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 21:53:02</td>   <td>10922</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VideoExecution.teardown()[pri:0, instance:com.framework.video.VideoExecution@167fdd33]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
</table>
