<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Failed suite [Suite]</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9a285">  <td>20/05/29 22:20:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testLogin()[pri:0, instance:com.unit.DependencyTest@5d76b067]">testLogin</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>20/05/29 22:20:21</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DependencyTest.testLogout()[pri:0, instance:com.unit.DependencyTest@5d76b067]">testLogout</td> 
  <td></td>   <td></td> </tr>
</table>
