<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 22:17:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.setup()[pri:0, instance:com.tests.LoginTest@10bbd20a]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 22:17:17</td>   <td>9766</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.tests.LoginTest@10bbd20a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@924477420</td>   <td></td> </tr>
<tr bgcolor="a9fd9b">  <td>20/06/11 22:17:12</td>   <td>5436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.testLoginWithValidCredentials()[pri:0, instance:com.tests.LoginTest@10bbd20a]">testLoginWithValidCredentials</td> 
  <td>main@924477420</td>   <td></td> </tr>
</table>
