<h2>Reporter output</h2><table><tr><td>Chrome browser choosen</td></tr>
<tr><td>Launched Login url: https://the-internet.herokuapp.com/login</td></tr>
<tr><td>Entered at: [[ChromeDriver: chrome on WINDOWS (b2bb6f66f2a7d3036fe0c4771db3b211)] -> id: username] Text: tomsmith</td></tr>
<tr><td>Entered at: [[ChromeDriver: chrome on WINDOWS (b2bb6f66f2a7d3036fe0c4771db3b211)] -> xpath: //input[@type='password']] Text: SuperSecretPassword!</td></tr>
<tr><td>Clicked on Locator: [[ChromeDriver: chrome on WINDOWS (b2bb6f66f2a7d3036fe0c4771db3b211)] -> xpath: //button[@type='submit']]</td></tr>
</table>